header{
    padding: 40px;
    text-align: center;
    background-image: linear-gradient(to right, #71a3ffd9 , #ffffff);
}

form{
    padding: 30px;
    text-align: center;
    background-color: #e4f3fd;
}

body{
    margin: 0 0;
    background-color:white;
}

label{
    margin-left: 20px;
}

table{
    min-width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    height: 40px;
    background-color: #36373c;
    color: white;
}

tr {
    height: 25px;
    text-align: center;
    background-color: white;
}

input[type=text] {
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 100%;
  }

input[type=button] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 4px 4px 9px #ababab;
}

    

input[type=button]:hover
{
    box-shadow: none;
}

.btnred{
    background-color: #f58d8d !important;
}
.btnyellow{
    background-color: #ffb87c !important;
}



